<ul>
  <li><a href="/number_of_airlines">How many different airlines in the database?</a></li>
   <li><a href="/delayed_arrival">Which airline had the largest quantity of delayed arriving flights? Which had the fewest?</a></li>
   <li><a href="/delayed_departure">Which departing airport had the highest number of delayed flights? Which had the fewest?</a></li>
   <li><a href="/arriving_late">Which arriving airport had the highest number of delayed flights? Which had the fewest?</a></li>
   <li><a href="/average_late">What was the average number of minutes late across all airlines?</a></li>
   <li><a href="/average_airline">What was the average number of minutes late for each airline?</a></li>
</ul>